Repository pawelblaszczyk5/solidjs-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

Add workflow
  .github/workflows/ci_cd.yml
Due: none

Rename step
  .github/workflows/ci_cd.yml
Due: none

Pin actions to specific commit SHA for better security
  .github/workflows/ci_cd.yml
Due: none

Update readme
  README.md
  package.json
Due: prettier --write

Fix formatting
  README.md
Due: none

Add missing spacing
  README.md
Due: none

Update dependencies
  package-lock.json
  package.json
Due: prettier --write

Update README.md
  README.md
Due: none

Add moder-normalize for css normalization
  package-lock.json
  package.json
  src/index.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Reset readme
  README.md
Due: none

Revert "Reset readme"
  README.md
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,html,css,json}
  eslint --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
